<form
  action="{{ url_for('form_unidad_actualizar',id=unidades.id)}}"
  method="POST"
  enctype="multipart/form-data"

>
  <h5>Actualizar unidad</h5>
  <hr />
<div class="formulario">
  <div class="form-group">
    <label for=" ">Nombrede la unidad: </label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      class="form-control"
      placeholder="{{unidades.nombre}}"
      
    />
  </div>
  <div class="form-group">
    <label for=" ">Direccion</label>
    <input
      type="text"
      name="direccion"
      id="direccion"
      class="form-control"
      placeholder="{{unidades.direccion}}"
      
    />
  </div>
  <div class="form-group">
    <label for="user-password">CCT</label>
    <input
      type="text"
      name="cct"
      id="cct"
      class="form-control"
      placeholder="{{unidades.cct}}"
      
    />

    <div class="form-group">
      <label for="user-email">Contacto</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        placeholder="{{unidades.email}}"
        
      />
    </div>
    <div class="col-md-6">
      <label for="user-email">Ofertas cademicas</label>
      <textarea
        class="form-control" 
        name="carreras" 
        id="carreras"
        rows="2" 
        cols="30" 
        placeholder="{{unidades.carreras}}"
        >
      </textarea>
    </div>

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-secondary mt-3" href="{{ url_for('form_unidad_actualizar',id=unidades.id)}}">Guardar</button>
    <i class="bi bi-arrow-return-left"></i> Regresar </a
    ><br />
  </div>
  <hr />
</div>
</form>